# build output
dist
.next

# dependencies
node_modules

# logs
*.log

# coverage
.nyc_output
coverage

# test output
test/**/out
.DS_Store
.jshintrc
out
test.js
pages/test3d.js

static/appConfig\.json
.vscode
